name: Send WhatsApp Message

on:
  push:
    branches:
      - main

jobs:
  send-message:
    runs-on: ubuntu-latest

    steps:
      - name: Send WhatsApp message via CallMeBot
        run: |
          curl "https://api.callmebot.com/whatsapp.php?phone=971563231481&text=GitHub+Action+Test&apikey=1745452"
